<div>
    <hr>
    <h2>All Blogs</h2>
    <span class="clearfix"></span>
    </hr>
    <hr>
    </hr>
    <table class="table table-striped">
    <thead>
      <tr>
      
        <th>Title</th>
        <th>Description</th>
        
         <th>PostedBy</th>
          
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in blogs">
      
        <td>{{blog.blog_Name}}</td>
        <td>{{blog.blog_Description}}</td>
        
        <td>{{blog.posted_By}}</td>
        
         
        <td><button type="button" class="btn btn-primary btn-sm "   ng-click="like()">Like</button></td> no of likes: {{likes}}
         <!-- <td><button type="button" class="btn btn-danger btn-sm "  ng-click="like()">Delete</button></td> -->
      </tr>
       </tbody>
  </table>
  </div>
    </div>