<div class="jumbotron text-center">
	
	<button type="button" data-toggle="modal" data-target="#friends" ng-click="findfriends()">
		Find Friends</button>
		<img class="img-responsive" src="images/{{ename}}.jpg" alt="Chania" style="width: 20%;height: 30%">
	<h5 style="text-align: left;">Hello, {{ename}}</h5>
	<!-- Modal -->
	<div class="modal fade" id="friends" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Find Friends</h4>
				</div>
				<div class="modal-body">
				<table class="table table-striped">
		<thead>
		<tr>
		<th>Users</th>
		</tr></thead>
		<tbody>
			<tr ng-repeat=" user in friends">
			<td>	<img class="img-responsive" src="images/{{user.email}}.jpg" alt="Chania" style="width: 20%;height: 30%"></td>
			
				<td>{{user.email}}</td>
				
			</tr>
		</tbody>
	</table>
				</div>
			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
	


	
	
</div>
